@charset "UTF-8";

/* ▼レスポンシブrem設定（SP：390px基準 / PC：1070px基準） */
html {
    scroll-behavior: smooth;
    font-size: calc(10 * 100vw / 390);
}

@media (min-width: 768px) {
    html {
        font-size: calc(10 * 100vw / 1070);
    }
}

@media (min-width: 1070px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    line-height: 1.75;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

.u-ta-center {
    text-align: center;
}

/*----------------------------- ヘッダー --------------------------------*/

.header {
    padding: 1rem 0 0.9rem 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 107rem;
    margin-inline: auto;
    width: 37rem;
}

.header__logo {
    padding-left: 0.2rem;
}

.header__logo-img {
    width: 7.2rem;
    height: auto;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
}

.header__btn {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.1rem;
    padding: 0.3rem 1rem 0.3rem 1.1rem;
    border-radius: 1.55rem;
    color: #fff;
    background: #fa7da3;
}

.header__btn--contact {
    width: 10.7rem;
    background: #fa7da3;
}

.header__btn--counseling {
    width: 17.4rem;
    background: #49c43d;
}

.header__btn-label {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
}

.header__btn-text-small {
    font-size: 1rem;
}

.header__btn-icon {
    position: absolute;
    top: 52%;
    right: 1rem;
    transform: translateY(-50%);
}

.header__btn-icon img {
    width: 0.6rem;
    height: auto;
}

@media (min-width: 768px) {
    .header {
        padding: 1.8rem 1rem 1.9rem 1rem;
    }

    .header__inner {
        width: 102.4rem;
    }

    .header__logo {
        padding-left: 0;
    }

    .header__logo-img {
        width: 9.7rem;
    }

    .header__actions {
        gap: 2.1rem;
        margin-bottom: 0;
    }

    .header__btn {
        height: 5.1rem;
        border-radius: 2.5rem;
        padding: 0.6rem 2.3rem;
    }

    .header__btn-label {
        font-size: 2.1rem;
        letter-spacing: 0;
        margin-bottom: 0.2rem;
    }

    .header__btn-text-small {
        font-size: 1.7rem;
    }

    .header__btn--contact {
        width: 18.8rem;
    }

    .header__btn--counseling {
        width: 29.5rem;
    }

    .header__btn-icon {
        top: 54%;
        right: 1.6rem;
    }

    .header__btn-icon img {
        width: 1rem;
    }
}



/*----------------------------- メイン --------------------------------*/


.main {
    background-color: #fa7da3;
}

.main__container {
    position: relative;
    max-width: 39rem;
    margin-inline: auto;
    height: 31.4rem;
}

.main__container::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    bottom: 0;
    width: 20.9rem;
    height: 31.4rem;
    background: url("/assets/image/main_cover_sp.png") no-repeat left bottom / contain;
    pointer-events: none;
}


.main__head {
    display: flex;
    justify-content: space-between;
}

.main__title {
    padding: 2.2rem 0.3rem 2.2rem 1.9rem;
    z-index: 1;
}

.main__title-img {
    width: 16.6rem;
    height: auto;
    display: block;
}


.main__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 18.8rem;
}

.main__price-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #fca4bf;
    padding: 0.9rem 1rem 2.2rem 2.7rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.15);
}

.main__price-head {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-top: 0.9rem;
}

.main__price-now {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fa7da3;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.7rem;
    height: 2.4rem;
}

.main__price-month {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0.8rem 0 0 0.1rem;
}

.main__price-zero {
    font-size: 7.6rem;
    font-weight: 700;
    color: #fffd7a;
    line-height: 1;
}

.main__price-zero-yen {
    font-size: 3.6rem;
}

.main__price-cost {
    font-family: "Outfit", sans-serif;
    font-size: 1.4rem;
    color: #fff;
    padding: 0.4rem 0.6rem 1rem 10rem;
}

.main__price-cost-yen {
    font-size: 0.9rem;
    color: #fff;
}


.main__features {
    padding: 0.9rem 2.6rem;
}

.main__feature-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
}

.main__feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.3rem;
    height: 3.5rem;
    border: 1.9px solid #fff;
    color: #fff;
    font-size: 1.8rem;
}


@media (min-width: 768px) {

    .main__container {
        max-width: 103rem;
        height: 61.3rem;
    }

    .main__container::before {
        left: 0;
        width: 48.8rem;
        height: 50.6rem;
        background-image: url("/assets/image/main_cover_pc.png");
    }

    .main__title {
        padding: 0 1.7rem 1.2rem 2rem;
    }

    .main__head {
        justify-content: unset;
    }

    .main__title-img {
        width: 54.1rem;
    }

    .main__price {
        width: 42rem;
    }

    .main__price-box {
        gap: 2.1rem;
        padding: 1.1rem 3.2rem 4rem 5.7rem;
    }

    .main__price-head {
        margin-top: 2rem;
    }

    .main__price-now {
        font-size: 2.9rem;
        width: 10.6rem;
        height: 5.3rem;
    }

    .main__price-month {
        font-size: 5.4rem;
        padding: 2.2rem 0 0 0.3rem;
    }

    .main__price-zero {
        font-size: 17.1rem;
    }

    .main__price-zero-yen {
        font-size: 8.1rem;
    }

    .main__price-cost {
        font-size: 2.6rem;
        padding: 0.1rem 0.6rem 1rem 24.1rem;
    }

    .main__price-cost-yen {
        font-size: 1.702rem;
    }

    .main__features {
        padding: 1rem 3rem;
    }

    .main__feature-list {
        justify-content: flex-start;
        gap: 2.1rem;
        margin-top: 2.2rem;
    }

    .main__feature-item {
        width: 42.2rem;
        height: 6.8rem;
        font-size: 2.8rem;
    }

    .main__feature-item--mideam {
        letter-spacing: -0.01em;
    }

    .main__feature-item--last {
        letter-spacing: -0.05em;
    }
}


/*----------------------------- プレゼント --------------------------------*/


.present {
    background-color: #fffedd;
    padding: 1.6rem 1.9rem 1.2rem;
}

.present__container {
    max-width: 35rem;
    margin-inline: auto;
    text-align: center;
}

.present__tag {
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    align-items: center;
    margin-bottom: 0.7rem;
}

.present__tag-text {
    font-size: 2.1rem;
    color: #fa7da3;
    padding-left: 1.3rem;
}

/* 左の＼ */
.present__tag::before {
    content: "";
    height: 2.8rem;
    transform: rotate(-30deg);
    border-left: 0.2rem solid #fa7da3;
}

/* 右の／ */
.present__tag::after {
    content: "";
    height: 2.8rem;
    transform: rotate(30deg);
    border-right: 0.2rem solid #fa7da3;
}

.present__box {
    border: 0.1rem solid #fa7da3;
    border-radius: 1rem;
    overflow: hidden;
    line-height: 1;
}

.present__course {
    background-color: #fa7da3;
    color: #fff;
    font-size: 2.1rem;
    padding: 0.3rem 2rem 0.7rem;
    font-weight: 600;
}

.present__gift {
    background-color: #fff;
    color: #fa7da3;
    font-size: 2.7rem;
    padding: 0.6rem 2rem 1.2rem 3.2rem;
    letter-spacing: 0;
}

.present__gift-num {
    font-size: 4.2rem;
    font-weight: 700;
}

.present__menu {
    font-size: 1rem;
    color: #333;
    margin-top: 0.6rem;
    margin-right: 0.2rem;
    letter-spacing: 0.01em;
}

@media (min-width: 768px) {

    .present {
        padding: 3.3rem 4rem 2.4rem;
    }

    .present__container {
        max-width: 55rem;
    }

    .present__tag {
        margin-bottom: 1.2rem;
        gap: 0.9rem;
    }

    .present__tag-text {
        font-size: 3.4rem;
        padding-left: 0.6rem;
    }

    .present__tag::before {
        width: 0.8rem;
        height: 4.3rem;
        border-left: 0.3rem solid #fa7da3;
    }


    .present__tag::after {
        height: 4.3rem;
        border-right: 0.3rem solid #fa7da3;
    }


    .present__box {
        margin-bottom: 1.4rem;
    }

    .present__course {
        font-size: 3.2rem;
        padding: 0.3rem 4.1rem 1.2rem 3.5rem;
    }

    .present__gift {
        font-size: 4.3rem;
        padding: 1rem 3.6rem 2rem 5.3rem;
        letter-spacing: 0.015em;
    }

    .present__gift-num {
        font-size: 6.8rem;
    }

    .present__menu {
        font-size: 1.4rem;
        letter-spacing: 0;
    }
}


/*----------------------------- トライアルボタン --------------------------------*/


.trial {
    padding: 1.3rem 2rem 2.9rem;
}

.trial__title {
    font-size: 2.1rem;
    font-weight: 700;
    color: #fa7da3;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
}

.trial__btn {
    position: relative;
    display: block;
    width: 35rem;
    height: 8rem;
    margin-inline: auto;
    background-color: #49c43d;
    border-radius: 4rem;
    text-align: center;
    transition: background-color 0.3s;
}

.trial__btn:hover {
    background-color: #3ad62c;
}

.trial__text {
    display: block;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.3;
    padding: 1.3rem 7rem 1.1rem 6.8rem;
}

.trial__icon {
    position: absolute;
    top: 49%;
    right: 3.2rem;
    transform: translateY(-50%);
}

.trial__icon img {
    width: 1.2rem;
    height: auto;
}


@media (min-width: 768px) {

    .trial {
        padding: 4.7rem 3rem 4.5rem;
    }

    .trial__title {
        font-size: 3.4rem;
        margin-bottom: 1rem;
        margin-left: 1.3rem;
    }

    .trial__btn {
        width: 57rem;
        height: 13rem;
        border-radius: 6.5rem;
    }

    .trial__text {
        font-size: 3.4rem;
        padding: 2rem 10rem;
    }

    .trial__icon {
        right: 5.2rem;
    }

    .trial__icon img {
        width: 1.8rem;
    }
}


/*----------------------------- コンテンツ --------------------------------*/


.content {
    padding: 0.1rem 2rem 3.5rem;
}

.content__box {
    max-width: 35rem;
    margin-inline: auto;
}

.content__title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #50bfff;
    border-top: 0.1rem solid #50bfff;
    border-bottom: 0.1rem solid #50bfff;
    padding: 1rem 1rem 1.2rem;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.content__text-box {
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
}

.content__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.7;
    letter-spacing: -0.011em;
}

.content__text-small {
    font-size: 1.1rem;
    margin-left: 0.1rem;
}


@media (min-width: 768px) {

    .content {
        padding: 0.1rem 2rem 5.3rem 1.7rem;
    }

    .content__box {
        max-width: 57rem;
    }

    .content__title {
        font-size: 2.8rem;
        padding: 1.7rem 1rem 1.9rem;
        margin-bottom: 1.6rem;
    }

    .content__text-box {
        padding-left: 0;
    }

    .content__text {
        font-size: 2.3rem;
        letter-spacing: -0.015em;
    }

    .content__text-small {
        font-size: 1.8rem;
    }
}






/*----------------------------- ３つのポイント --------------------------------*/
.points {
    background-color: #fdf0f5;
    padding: 3.6rem 2rem 3rem;
}

.points__container {
    max-width: 35rem;
    margin-inline: auto;
}

.points__title {
    margin-bottom: 2.2rem;
    line-height: 1;
}

.points__title-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.3rem;
}

.points__title-img {
    width: 19.7rem;
    height: auto;
    display: block;
    margin-top: 0.4rem;
}

.points__title-text {
    font-size: 1.8rem;
    font-weight: 600;
    color: #4d2b1b;
    letter-spacing: 0.04em;
}

.points__title-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.1rem;
}

.points__title-main-text {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    letter-spacing: 0.04em;
    padding-left: 0;
}

.points__title-main img {
    width: 3.5rem;
    height: 4.7rem;
    display: block;
}

@media (min-width: 768px) {
    .points {
        padding: 4.9rem 2rem 6.3rem;
    }

    .points__container {
        max-width: 78rem;
    }

    .points__title {
        margin-bottom: 4.8rem;
    }

    .points__title-head {
        gap: 0.6rem;
        margin-left: 0;
    }

    .points__title-img {
        width: 26.2rem;
        height: auto;
        margin-top: 0.3rem;
    }

    .points__title-text {
        font-size: 1.8rem;
        letter-spacing: 0;
        margin-top: 0.3rem;
    }

    .points__title-main {
        margin-top: 1.2rem;
    }

    .points__title-main-text {
        font-size: 4.2rem;
        letter-spacing: 0;
        padding-left: 0.2rem;
    }

    .points__title-main img {
        width: 5.9rem;
        height: 6.2rem;
    }
}

/*======================================================================
  POINT1（service） 
======================================================================*/

.points__item--service {
    border: 0.1rem solid #fa7da3;
    border-radius: 1rem;
    margin-bottom: 3.2rem;
    background-color: #fff;
    overflow: hidden;
}

.points__item-title--service {
    background-color: #fa7da3;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.7rem 1rem;
    text-align: center;
    letter-spacing: -0.02em;
    padding-left: 0.9rem;
}

.points__item-box--service {
    padding: 1.4rem 1.9rem;
}

.points__item-text--service {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 1.2rem;
    font-feature-settings: "palt";
    margin-left: 0.1rem;
}

.points__item-inner {
    display: flex;
    justify-content: center;
    gap: 2.2rem;
    margin-right: 0.1rem;
}

.points__item-compare-left {
    width: 14.4rem;
    height: 8.5rem;
    border: 0.1rem solid #fa7da3;
    padding: 2.2rem 3.1rem 2.2rem 3.8rem;
}

.points__compare-img {
    width: 7.1rem;
}

.points__item-compare-text {
    font-size: 1.4rem;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
}

.points__item-compare-label {
    font-size: 1.8rem;
    color: #433e3f;
    margin-bottom: 0.4rem;
}

.points__item-compare-rigth {
    width: 14.3rem;
    height: 8.5rem;
    border: 0.1rem solid #333;
    background-color: #fdf0f5;
    padding: 2.6rem 3.1rem 3.2rem 3.6rem;
    letter-spacing: 0.22em;
    font-feature-settings: "palt";
}

@media (min-width: 768px) {

    .points__item--service {
        max-width: 78rem;
        margin-inline: auto;
        margin-bottom: 5rem;
    }

    .points__item-title--service {
        font-size: 2.8rem;
        font-weight: 400;
        padding: 1.3rem 1.2rem;
        letter-spacing: 0;
    }

    .points__item-box--service {
        padding: 2.5rem 4rem 3.3rem;
    }

    .points__item-text--service {
        font-size: 2.1rem;
        margin-bottom: 2.2rem;
        letter-spacing: 0.01em;
        font-feature-settings: normal;
        margin-left: 0;
    }

    .points__item-inner {
        gap: 4.2rem;
        margin-right: 0;
    }

    .points__item-compare-left {
        width: 23.1rem;
        height: 13.7rem;
        padding: 3.4rem 5.1rem 3rem 6rem;
    }

    .points__compare-img {
        width: 11.6rem;
    }

    .points__item-compare-label {
        font-size: 2.9rem;
    }

    .points__item-compare-text {
        font-size: 2.1rem;
        margin-top: 0.8rem;
        margin-left: 3rem;
    }


    .points__item-compare-rigth {
        width: 23.1rem;
        height: 13.6rem;
        padding: 4rem 4rem 2.6rem 6.2rem;
        background-color: #fff;
    }
}


/*======================================================================
  POINT2（menu）
======================================================================*/

.points__item--menu {
    border: 0.1rem solid #fa7da3;
    border-radius: 1rem;
    background-color: #fff;
    margin-bottom: 3rem;
    overflow: hidden;
}

.points__item-title--menu {
    background-color: #fa7da3;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.7rem 1rem 0.7rem 1.2rem;
    text-align: center;
    letter-spacing: 0;
}

.points__item-box--menu {
    padding: 1.4rem 1.3rem 1.5rem;
}

.points__item-text--menu {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 0.7rem;
    margin-bottom: 1.8rem;
}

.points__item-plan-body {
    text-align: center;
    font-weight: 600;
    font-size: 2.3rem;
    color: #4d2c1c;
}


.points__plan-body {
    text-align: center;
    margin-top: 2.1rem;
    margin-left: 0.3rem;
}

.points__plan-body-img {
    width: 31.2rem;
    margin-inline: auto;
}

.points__item-plan-part {
    text-align: center;
    font-weight: 600;
    font-size: 2.3rem;
    color: #4d2c1c;
    margin-top: 4rem;
}


.points__part-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.7rem 1.2rem;
    margin-top: 2.3rem;
    margin-left: 0;
}

.points__part-item img {
    width: 10rem;
    height: 10rem;
}

.points__part-label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fa7da3;
    text-align: center;
    margin-top: 0.1rem;
}

@media (min-width: 768px) {

    .points__item--menu {
        max-width: 78rem;
        margin-inline: auto;
        margin-bottom: 5rem;
    }

    .points__item-title--menu {
        font-size: 2.8rem;
        padding: 1rem 1.3rem 1.3rem;
        letter-spacing: -0.01em;
    }

    .points__item-box--menu {
        padding: 2.8rem 4rem 3.2rem;
    }

    .points__item-text--menu {
        font-size: 2.1rem;
        margin-bottom: 2.1rem;
        letter-spacing: 0.005em;
        margin-left: 0;
    }

    .points__item-plan-body,
    .points__item-plan-part {
        font-size: 2.4rem;
    }

    .points__plan-body {
        margin-top: 1.4rem;
        margin-left: 2.8rem;
    }


    .points__plan-body-img {
        width: 55.9rem;
    }

    .points__part-list {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        margin-left: 1.9rem;
    }


    .points__part-label {
        font-size: 1.4rem;
    }

    .points__item-plan-part {
        margin-top: 5rem;
    }
}


/*======================================================================
  POINT3（care）
======================================================================*/

.points__item--care {
    border: 0.1rem solid #fa7da3;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
}

.points__item-title--care {
    background-color: #fa7da3;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.7rem 1rem 0.6rem 1.1rem;
    text-align: center;
    letter-spacing: 0;
}

.points__item-box--care {
    padding: 1.5rem 1.7rem 1.7rem 2rem;
}

.points__item-text--care {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

@media (min-width: 768px) {

    .points__item--care {
        max-width: 78rem;
        margin-inline: auto;
    }

    .points__item-title--care {
        font-size: 2.8rem;
        padding: 0.9rem 1rem 1.5rem;
        letter-spacing: -0.01em;
    }

    .points__item-box--care {
        padding: 2.3rem 4rem 2.7rem;
    }

    .points__item-text--care {
        font-size: 2.1rem;
        line-height: 1.7;
        letter-spacing: 0.005em;
    }
}





/*----------------------------- 無料体験ボタン --------------------------------*/

.cta {
    padding: 2.1rem 2rem 3rem;
    text-align: center;
}

.cta__title {
    font-size: 2.1rem;
    font-weight: 600;
    color: #fa7da3;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;
    letter-spacing: 0.1em;
}

.cta__btn {
    position: relative;
    display: block;
    width: 35rem;
    height: 8rem;
    margin-inline: auto;
    background-color: #49c43d;
    border-radius: 4rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cta__btn:hover {
    background-color: #40e02f;
}

.cta__text {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.3;
    padding: 1.1rem 7rem;
    display: block;
}

.cta__icon {
    position: absolute;
    top: 50%;
    right: 9.2%;
    transform: translateY(-50%);
}

.cta__icon img {
    width: 1.2rem;
    height: 1.9rem;
}

@media (min-width: 768px) {
    .cta {
        padding: 4.6rem 3rem 3rem;
    }

    .cta__title {
        font-size: 3.4rem;
        margin-left: 1.2rem;
    }

    .cta__btn {
        width: 57rem;
        height: 13rem;
        border-radius: 6.5rem;
    }

    .cta__text {
        font-size: 3.4rem;
        padding: 2rem 10rem;
    }

    .cta__icon img {
        width: 1.8rem;
        height: 3.1rem;
    }
}





/*----------------------------- ２つのコース --------------------------------*/

.course {
    padding: 1.2rem 2rem 2.2rem;
    background-color: #fff;
}

.course__container {
    max-width: 39rem;
    margin-inline: auto;
    text-align: center;
}

.course__title-top {
    font-size: 1.8rem;
    font-weight: 400;
    color: #333;
    margin-left: 0.6rem;
    margin-bottom: 0.3rem;
}

.course__title-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 2.5rem;
    line-height: 1;
}

.course__title-main img {
    width: 3.8rem;
    height: 4.4rem;
    display: block;
}

.course__title-main-text {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    letter-spacing: 0.01em;
}

.course__items {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

.course__item {
    border: 0.1rem solid #fa7da3;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
}

.course__item-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fa7da3;
    background-color: #fdf0f5;
    padding: 0.7rem 1rem;
    text-align: center;
    letter-spacing: 0;
}

.course__item-box {
    padding: 1.4rem 1.8rem 1.9rem 2rem;
}

.course__item-text-a,
.course__item-text-b {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.2rem;
    letter-spacing: 0.01em;
    padding: 0;
    line-break: normal;
}

.course__item-box img {
    width: 31rem;
    height: 20.6rem;
    margin-left: 0;
}



@media (min-width: 768px) {

    .course {
        padding: 2.1rem 0 6.1rem;
    }

    .course__container {
        max-width: 103rem;
    }

    .course__title-top {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .course__title-main {
        gap: 0.7rem;
        margin-bottom: 4.4rem;
    }

    .course__title-main img {
        width: 5.9rem;
        height: 5rem;
    }

    .course__title-main-text {
        font-size: 4.2rem;
    }

    .course__items {
        flex-direction: row;
        justify-content: center;
        gap: 3.2rem;
    }

    .course__item {
        width: 35rem;
        border-radius: 1.2rem;
    }

    .course__item-title {
        font-size: 2.8rem;
        padding: 0.6rem 0.9rem 0.1rem;
        letter-spacing: 0.01em;
    }

    .course__item-box {
        padding: 1.3rem 0.5rem 1.7rem;
    }

    .course__item-text-a {
        font-size: 1.8rem;
        margin-bottom: 1.4rem;
        padding: 0 1.1rem 0 1.4rem;
    }

    .course__item-text-b {
        font-size: 1.8rem;
        margin-bottom: 1.4rem;
        padding: 0 0 0 1.3rem;
        line-break: anywhere;
    }

    .course__item-box img {
        width: 31.2rem;
        height: 20.8rem;
        margin-left: 1.2rem;
    }
}





/*----------------------------- お客様の声 --------------------------------*/

.voice {
    padding: 2.7rem 0 0.7rem;
    background-color: #fdf0f5;
}

.voice__container {
    max-width: 39rem;
    margin-inline: auto;
}

.voice__title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.voice__title img {
    width: 3.8rem;
    height: 4.4rem;
    display: block;
}

.voice__title-text {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    letter-spacing: 0.01em;
}


.voice__slider {
    width: 100%;
    height: auto;
}

.voice__wrapper {
    min-height: 19rem;
    align-items: center;
}

.voice__item {
    height: 19rem;
}

.voice__item {
    border: 1px solid #fa7da3;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
}

.voice__item-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    background-color: #fa7da3;
    padding: 0.8rem 1rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.voice__item-box {
    display: flex;
    gap: 1.5rem;
    padding: 0.9rem 1.1rem 0.9rem 1.7rem;
    align-items: flex-start;
    background-color: #fff;
}

.voice__item-box-img-a {
    padding: 0.5rem 0.4rem;
}

.voice__item-box-img-b {
    padding: 0.3rem 0;
}

.voice__item-box-img-c {
    padding: 0rem 1.1rem;
}


.voice__item-img {
    width: 100%;
    height: auto;
}

.voice__item-text {
    flex: 1;
}

.voice__item-user {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fa7da3;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
    line-height: 1.5;
}

.voice__item-comment {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    padding: 0;
}



.voice__pagination {
    position: relative;
    margin-top: 2.8rem;
    text-align: center;
}

.voice__pagination .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffd2d2;
    opacity: 1;
    margin: 2rem 1.5rem;
}


.voice__pagination .swiper-pagination-bullet-active {
    background-color: #fa7da3;

}



@media (min-width: 768px) {

    .voice {
        padding: 4.5rem 0 8.5rem;
    }

    .voice__container {
        max-width: 96rem;
    }

    .voice__title {
        gap: 1.7rem;
        margin-bottom: 4rem;
    }

    .voice__title img {
        width: 5.9rem;
        height: 5rem;
    }

    .voice__title-text {
        font-size: 4.2rem;
    }

    .voice__item {
        border-radius: 1.2rem;
    }

    .voice__item-title {
        font-size: 1.801rem;
        padding: 0.6rem 1.9rem 0.7rem;
    }

    .voice__item-box {
        padding: 1rem 0.5rem;
        gap: 0.3rem;
    }


    .voice__item-box-img-a {
        padding: 0.4rem 1.6rem;
    }

    .voice__item-box-img-b {
        padding: 0.5rem 1.2rem;
    }

    .voice__item-box-img-c {
        padding: 0.2rem 2rem 0.2rem 2.4rem;
    }


    .voice__item-user {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        margin-bottom: 0.3rem;
    }

    .voice__item-comment {
        font-size: 1.401rem;
        padding: 0.3rem 1.2rem 0.5rem 0.1rem;
    }

    .voice__pagination,
    .swiper-pagination {
        display: none;
    }
}





/*----------------------------- フッター --------------------------------*/

.footer {
    margin-top: 1rem;
    padding: 1.3rem 2rem;
    background-color: #fa7da3;
}

.footer__container {
    max-width: 39rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.footer__logo-img {
    text-align: center;
    width: 7rem;
    height: 4rem;
}



@media (min-width: 768px) {
    .footer {
        margin-top: 3.6rem;
        padding: 2.6rem 2rem;
    }

    .footer__container {
        max-width: 103rem;
        margin-inline: auto;
    }

    .footer__logo-img {
        width: 14.5rem;
        height: 8rem;
    }
}